html {
    background-color: rgb(216, 207, 207); 

}

#box {
    
    display:grid;
    margin-inline-start: auto;
    margin-right: 5%;
    border-radius: 10px; 
    width: 90%;
    height: 5%;
    padding: 0.5%;
   
    


}
#button {
    display:grid;
    margin-inline-start: auto;
    margin-right: auto;   
    width: 90%;
    border-radius: 30px;

}
h3,h2{
    font-family: montserratregular;
    display:grid;
    margin-inline-start: auto;
    margin-left: 4%;
    

}
#tittle{
    font-size: 26px;
    margin-left: 24%;
    margin-right: 24%;

}
#date {
    display:grid;
    margin-inline-start: auto;
    margin-right: 5%;
    width: 90%;
    height: 5%;
    border-radius: 10px;


}
#forma {
    display: grid;
    background-color: gray;
    border-radius: 30px;
    width: 50%;
    height: 690px;
   margin: auto;
   align-items: center;
}
h2 {
align-items: center ;
margin-inline-start: auto;


}
